<mat-toolbar class="toolbar ">

  <a routerLink="/">
      <img class="icon" ngSrc="assets/icon.png" alt="Monimon" [width]="30" [height]="30"/>
  </a>

  <span class="spacer"></span>

  <a mat-button routerLink="/leaderboard">Leaderboard</a>

  <span class="spacer"></span>

  <a mat-button routerLink="/marketplace">Marketplace</a>

  <span class="spacer"></span>

  @if (isModerator) {
    <a mat-button routerLink="/admin">
      <img class="icon" src="assets/admin_button.png" alt="Admin" [width]="30" [height]="30"/>
    </a>
  }

  @if (image) {
    <a mat-button routerLink="/profile" class="user-data">
      <img class="user-icon" [src]="image" alt="" [width]="30" [height]="30"/>
    </a>
  }

  <a mat-button routerLink="/profile" class="user-data">
    {{username}}
  </a>

</mat-toolbar>

