.spacer {
  flex: 1 1 auto;
}

.icon {
  width: 40px;
  height: 40px;
}

.toolbar {
  display: flex;
  padding: 10px;
  background-color: var(--purple);
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  height: 5em;
  border-radius: 10px;
  margin-bottom: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

.user-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
