<mat-toolbar class="toolbar ">

  <a routerLink="/">
      <img class="icon" ngSrc="assets/icon.png" alt="Monimon" [width]="30" [height]="30"/>
  </a>

  <span class="spacer"></span>

  <a mat-button routerLink="/leaderboard">Leaderboard</a>

  <span class="spacer"></span>

  <a mat-button routerLink="/marketplace">Marketplace</a>

  <span class="spacer"></span>

  <a mat-button *ngIf="image" routerLink="/profile" class="user-data">
    <img class="user-icon" ngSrc="{{image}}" alt="" [width]="30" [height]="30"/>
  </a>

  <a mat-button routerLink="/profile" class="user-data">
    {{username}}
  </a>

</mat-toolbar>

