<div class="command-display">
  <h3>{{ command.name }}</h3>
  <p><strong>Command: </strong> <input type="text" [(ngModel)]="command.command" /></p>
  <p><strong>Description: </strong> <input type="text" [(ngModel)]="command.description" /></p>
  <p><strong>Price: </strong> <input type="number" [(ngModel)]="command.price" /></p>
  <p><strong>Cooldown: </strong> <input type="number" [(ngModel)]="command.cooldown" /></p>
  <p><strong>Active: </strong> <input type="checkbox" [(ngModel)]="command.active" /></p>
  <p><strong>Mod Only: </strong> <input type="checkbox" [(ngModel)]="command.modOnly" /></p>

  <button class="btn-save" (click)="save()">Save</button>
</div>
