<!--
<mat-toolbar class="toolbar ">

  <a routerLink="/">
    <mat-icon>
      <img class="icon" ngSrc="assets/icon.jpeg" alt="Monimon" [width]="30" [height]="30"/>
    </mat-icon>
    <span>Monimon</span>
  </a>

  <span class="spacer"></span>

  <a mat-button routerLink="/leaderboard">Leaderboard</a>

  <mat-form-field class="search-container">
    <input matInput type="text" name="searchterm" placeholder="Search users..." (keydown.enter)="onSearch()">
  </mat-form-field>

  <span class="spacer"></span>

</mat-toolbar>
-->
