<div class="dialog-overlay">
  <div class="dialog-container">
    <h1 mat-dialog-title>Cambiar Contraseña</h1>
    <form (ngSubmit)="changePassword()">
      <div mat-dialog-content class="form-password">
        <label for="newPassword">Nueva Contraseña:</label>
        <br>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
        <br>
        <label for="confirmNewPassword">Confirmar Nueva Contraseña:</label>
        <br>
        <input type="password" id="confirmNewPassword" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" required>
        <br>
        <p *ngIf="errrorMessage" class="error-message">{{errrorMessage}}</p>
      </div>
      <div mat-dialog-actions class="button-container">
        <button mat-button type="reset"  id="cancel-button" class="button-confirm" (click)="closeDialog()">Cancelar</button>
        <button mat-button type="submit" id="confirm-button" class="button-confirm">Confirmar</button>
      </div>
    </form>
  </div>
</div>
