<app-toolbar></app-toolbar>

<div class="admin-container">

  <h1>Admin Panel</h1>

  <h2 (click)="showCommands = !showCommands" style="cursor: pointer;">
    Commands
  </h2>
  <div class="commands" [@slideToggle]="showCommands ? 'visible' : 'hidden'">
    @for (command of commands; track command.name) {
      <app-command-display [command]="command" (saveCommand)="saveCommand($event)" ></app-command-display>
    }
  </div>

  <h2 (click)="showRewards = !showRewards" style="cursor: pointer;">
    Rewards
  </h2>
  <div class="rewards" [@slideToggle]="showRewards ? 'visible' : 'hidden'">
    @for (reward of rewards; track reward.name) {
      <app-reward-display [reward]="reward" (saveReward)="saveReward($event)" ></app-reward-display>
    }
  </div>

  <h2 (click)="showEvents = !showEvents" style="cursor: pointer;">
    Events
  </h2>
  <div class="events" [@slideToggle]="showEvents ? 'visible' : 'hidden'">
    @for (event of events; track event.name) {
      <app-event-display [event]="event" (saveEvent)="saveEvent($event)" ></app-event-display>
    }
  </div>

  <h2 (click)="showDiscordCommands = !showDiscordCommands" style="cursor: pointer;">
    Discord Commands
  </h2>
  <div class="commands" [@slideToggle]="showDiscordCommands ? 'visible' : 'hidden'">
    @for (command of discordCommands; track command.name) {
      <app-command-display [command]="command" (saveCommand)="saveDiscordCommand($event)" ></app-command-display>
    }
  </div>

</div>

