<h1 class="title">{{ 'Album de ' + data.username}}</h1>

<div class="selector">
  <span class="selector-item" id="selector-index" (click)="changeSortCriteria('index')" [class.selected]="sortCriteria === 'index'">Índice</span>
  <span class="selector-item">//</span>
  <span class="selector-item" id="selector-idolID" (click)="changeSortCriteria('idolID')" [class.selected]="sortCriteria === 'idolID'">ID</span>
  <span class="selector-item">//</span>
  <span class="selector-item" id="selector-group" (click)="changeSortCriteria('group')" [class.selected]="sortCriteria === 'group'">Grupo</span>
  <span class="selector-item">//</span>
  <span class="selector-item" id="selector-attack" (click)="changeSortCriteria('attack')" [class.selected]="sortCriteria === 'attack'">Ataque</span>
  <span class="selector-item">//</span>
  <span class="selector-item" id="selector-defense" (click)="changeSortCriteria('defense')" [class.selected]="sortCriteria === 'defense'">Defensa</span>
  <span class="selector-item">//</span>
  <span class="selector-item" id="selector-hp" (click)="changeSortCriteria('hp')" [class.selected]="sortCriteria === 'hp'">HP</span>
</div>

<div class="photoCardsContainer">
  <div class="card-box" *ngFor="let card of data.photoCards">
    <img [src]="card.photo" [alt]="card.idolID" class="card-photo">
    <div class="card-name">
      <span>{{ card.name }}</span> <span> - </span> <span>{{ card.band }}</span>
    </div>
    <div class="card-separator"></div>
    <div class="card-stats">
      <p><span class="stat-label">Posicion</span> <span class="stat-value">{{ card.initialIndex + 1 }}</span></p>
      <p><span class="stat-label">Idol</span> <span class="stat-value">{{ card.idolID }}</span></p>
      <p><span class="stat-label">Popularidad</span> <span class="stat-value">{{ card.popularity }}</span></p>
      <p><span class="stat-label">Tipo</span> <span class="stat-value">{{ card.type}}</span></p>
      <p><span class="stat-label">Subtipo</span> <span class="stat-value">{{ card.type2 }}</span></p>
      <br>
      <p><span class="stat-label">HP</span> <span class="stat-value">{{ card.hp }}</span></p>
      <p><span class="stat-label">ATK</span> <span class="stat-value">{{ card.attack }}</span></p>
      <p><span class="stat-label">DEF</span> <span class="stat-value">{{ card.defense }}</span></p>
    </div>
  </div>
</div>
