<app-toolbar></app-toolbar>

<div class="login-panel">
  <h2 class="title">User Login</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm" class="login-container">
    <div class="form-group">
      <label class="login-label" for="username">Username</label>
      <input class="login-input" type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <div class="form-group">
      <label class="login-label" for="password">Password</label>
      <input class="login-input" type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <button class="login-button" type="submit" [disabled]="!loginForm.valid">Login</button>
    <div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>
  </form>

  <button class="twitch-login-button" (click)="twitchLogin()">Login with Twitch</button>
  <div class="twitch-login-info">Si te logueas con Twitch, se te reseteará la contraseña</div>

</div>
